@{
    ViewData["Title"] = "Giỏ hàng ";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
   
@model List<WebApplication3.Models.Cart>

@if (Model.Count > 0)
{ 
@section Scripts {
        <script>
          $(document).ready(function () {
              $(".updatecartitem").click(function (event) {
                  event.preventDefault();
                  var productid = $(this).attr("data-productid");
                  var quantity = $("#quantity-" + productid).val();
                  $.ajax({
                      type: "POST",
                      url:"@Url.RouteUrl("updatecart")",
                      data: {
                          productid: productid,
                          quantity:quantity
                      },
                      success: function (result) {
                          window.location.href = "@Url.RouteUrl("cart")";
                      }
                  });
              });
          });
        </script>
      }
    int? a2 = 0;

    <div class="containterr relati">
        <div class="background"></div>
        <div class="text-product">
            <h1 style="font-family: 'Oswald', sans-serif;">Giỏ hàng</h1>
            <p style="font-family: 'Oswald', sans-serif;">Hoa đẹp - rẻ - ý nghĩa</p>
        </div>
        <div style="height: 50px;display: block;"></div>
    </div>
    <div class="containerr">
        <div class="cart-panel">
            <table style="width: 100%;">
                <tr>
                    <th style="width: 14%;"></th>
                    <th style="width: 24%;text-align: left ;">Tên sản phẩm</th>
                    <th style="width: 9%;">Giá</th>
                    <th style="width: 30%;text-align: left;">Số lượng</th>
                    <th style="width: 14%;text-align: left;">Thành tiền</th>
                    <th style="width:9%"></th>
                </tr>
               
                    @foreach (var item in Model)
                {
                    var a1 = item.quantity * item.flowerincart.Fprice;

                    a2 += a1;

                        <tr>
                        
                        <td style="height: 200px;"><img style="height: 100%;" src="~/img/@item.flowerincart.Fimg" alt=""></td>
                        <td>@item.flowerincart.Fname</td>
                        <td><input style="border: none;background-color: transparent;text-align: center;" id="giasp" type="text" readonly value="@item.flowerincart.Fprice"></td>
                        <td>
                            
                            <div style="display: inline;margin-right: 10px;" id="total-count">
                                <input asp-for="@item.quantity" style="height: 40px;text-align: center;" id="@($"quantity-{item.flowerincart.FlowerId}")" type="number" >
                            </div>
                            
                        </td>
                        <td id="subtotal" style="text-align: left;">@(a1.ToString())</td>
                        <td>
                            <button style="height:4rem;background-color:#5AFF70;border-radius:15px;font-weight:600" class="updatecartitem"
                                    data-productid="@item.flowerincart.FlowerId">
                                Cập nhật
                            </button>
                            <button style="height:4rem;background-color:#FF3333;border-radius:15px;font-weight:600">
                                <a style="text-decoration:none;color:black"  asp-route="removecart" asp-route-productid="@item.flowerincart.FlowerId">Xóa</a>
                            </button>
                        </td>
                    </tr>
                }
              
            </table>
        </div>
    </div>


    <div class="containerr">
        <div style="height: 50px;"></div>
        <input type="text" placeholder="Mã giảm giá" style="height: 40px;">
        <button style="cursor: pointer;font-weight:bold;height: 50px;width: 150px;background-color: black;color: white;font-family: 'Montserrat', sans-serif;">Áp dụng  </button>

        <h2 style="font-family: 'Lora', serif;">Đơn hàng</h2>
        <table>
            <tr>
                <td><h4 style="display: inline;margin-right: 20px;">Tổng cộng</h4></td>
                <td><input type="text" value="@(a2.ToString())"></td>
            </tr>
            <tr>
                <td> <h4 style="display: inline;margin-right: 20px;">Người nhận</h4></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><h4 style="display: inline;margin-right: 20px;">Địa chỉ nhận</h4></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><h4 style="display: inline;margin-right: 20px;">Số điện thoại</h4></td>
                <td><input type="text"></td>
            </tr>
        </table>
        <button><a asp-controller="Product" asp-action="Checkout">Giao hàng</a></button>
        
    </div>
    
    
    
}
else
{
    <p class="alert alert-danger">Giỏ hàng trống</p>
}

@* <script>
    const giasp = parseInt(document.getElementById('giasp').value);
    const tangsp = document.getElementById('increment-count');
    const giamsp = document.getElementById('decrement-count');
    var x = parseInt(document.getElementById('soluongsp').value);
    document.getElementById('subtotal').innerHTML = x * giasp;

    const tangsl = () => {
        x++;
        document.getElementById('soluongsp').value = x;
        document.getElementById('subtotal').innerHTML = x * giasp;
        var productid = $(this).attr("data-productid");
        var quantity = $("#quantity-" + productid).val();
        
    }
    const giamsl = () => {
        x--;
        document.getElementById('soluongsp').value = x;
        document.getElementById('subtotal').innerHTML = x * giasp;
        var productid = $(this).attr("data-productid");
        var quantity = $("#quantity-" + productid).val();
    }
    tangsp.addEventListener("click", tangsl);
    giamsp.addEventListener("click", giamsl);
</script> *@